@tailwind base;
@tailwind components;
@tailwind utilities;



@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
display: flex;
justify-content: center;
  margin: 0;
  padding: 0;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    color: rgb(102, 137, 137);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

main {
  display: flex;
  justify-content: center;
  margin-left: 0;
  margin-right: 0;
  min-width: 40%;
  max-width: 50%;
  
}


::file-selector-button {
  display: none;
}


input{background-color: rgb(24, 34, 54);}

.spacer {
  height: 2%;
}



